{% extends "layouts/base.html"%}
{% block content %}
{% if validlink %}
    <p>Iltimos yengi parolingizni kiriting va uni tasdiqlang!</p>
    <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">
                            New password:
                        </label>
                    </td>
                    <td>
                        {{form.new_password1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{form.new_password2.errors}}
                        <label for="id_new_password2">
                            Confirm password:
                        </label>
                    </td>
                    <td>
                        {{ form.new_password2 }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change password"></td>
                </tr>

            </table>
    </form>

    {% else %}
    <h1>Errors change password</h1>
    <p>
        Errors password add!!!
    </p>

{% endif%}
{% endblock %}