{% extends "layouts/base.html"%}
{% block content %}
<form action="" method="post">
    {% csrf_token%}
    {% if form.email.errors%} {{form.email.errors}} {% endif %}
    <div class="row my-2 text-center">
        <div class="col-6">
            <table class="table table-bordered my-2 text-start">
                <td>
                    <label> Your e-mail</label><br>

                </td>
                <td>
                    <p>{{form.email}}</p>
                </td>
            </table>
            <div class="col-6">
                <input type="submit" class="btn btn-primary" value="Reset password">
            </div>
           
        </div>
        <div class="col-6"></div>
    </div>
</form>

{% endblock %}